body{
    margin: 0;
    padding: 0;
}
.navbar{
    box-shadow: 3px 3px 5px rgba(0,0,0.1);
    background-color: rgb(162, 161, 161);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position:relative;
}
.logo{
    color: black;
    margin-left: 22px;
    text-decoration: none; 
    cursor: pointer;
}
.search-bar{
    border: 1px solid rgb(151, 149, 149);
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    margin-right:20px;
    margin-left: 20px;
    cursor: pointer
}
.nav-links {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .nav-item{
    padding: 13px 30px;
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}
.nav-item:hover{
    background-color:#d2d2d2 ;
    padding: 13px 30px;
    border: none;
    border-radius: 10px;
    
}
.hamburger {
    margin-left: auto;
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: none; 
}
.close{
    margin: 10px 15px 0 0;
    align-self: flex-end;
    margin-right: 10px;
    color: black;
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}
.hamburger:hover{
    background-color:#f0f0f0 ;
    border: none;
    border-radius: 6px;
}
  @media screen and (max-width: 768px){
    .nav-links{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        backdrop-filter:blur(10px);
        background-color: rgba(255, 255, 255, 0.619);
        box-shadow: -10px 0 10px rgb(7, 7, 7);
        padding-left: 20px;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .nav-links.active {
        display: flex;
      }
      .hamburger {
        display: block;
        margin-right: 10px;
      }
      .nav-links.active .close{
        display:block;
      }
    }

/* nav div{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav NavLink{
    height: 80px;   
}

nav NavLink:first-child{
    margin-right: auto;
} */

 
/* .div1 NavLink{
   width: 100%;
} */